@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #231330; */
  /* border: 1px solid; */
  background-color: black;
  color: white;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1080 px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* margin: 50px 100px auto; */
}

header {
  margin: 25px 25px auto;
  background-color: black;
  padding-top: 25px;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 25px;
  border: solid white;
  border-radius: 10px;
  border-width: 4px;
}

header .logo {
  padding: 4px 4px 4px 4px;
  font-weight: 700;
  font-size: 30px;
  background-color: black;
  border: solid white;
  border-radius: 10px;
  border-width: 3px;
  cursor: pointer;
}

header .center {
  display: inline;
  margin-left: 150px;
  margin-bottom: 5px;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  padding: 8px 8px 8px 8px;
  font-weight: 600;
  display:inline-flex;
  margin-right: 40px;
  margin-left: 50px;
  cursor: pointer;
  background-color: black;
  border: solid white;
  border-radius: 5px;
  border-width: 2px;
}

main .FAQ {
  margin: 25px 25px;
  background-color: black;
  padding-top: 25px;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 25px;
  border: solid white;
  border-radius: 10px;
  border-width: 4px;
}

main .Ask {
  width: auto;
  background-color: black;
  padding: 15px 15px;
  border: solid white;
  border-radius: 10px;
  border-width: 3px;
  color: white;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 24px;
  font-style: italic;
  font-variant:initial;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
}

main .Answer {
  margin: 30px 50px;
  color: white;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  text-indent: 30px;
}

main .List {
  margin: 30px 50px;
  color: white;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
}

main .Request {
  margin: 25px 25px;
  background-color: black;
  padding-top: 25px;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 25px;
  border: solid white;
  border-radius: 10px;
  border-width: 4px;
}

main .form-control {
  float: left;
  width: auto;
  background-color: black;
  padding: 5px 5px;
  border: solid white;
  border-radius: 10px;
  border-width: 3px;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 22.4px;
  color: white;
}

main .btn {
  float:none;
  display: inline;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  background-color: black;
  border: solid white;
  border-radius: 10px;
  border-width: 3px;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 50px;
}

main .btn:hover {
  background-color: rgb(123, 123, 123);
}

main .JSONResponse {
  margin-top: 15px;
  width: auto;
  background-color: black;
  padding: 15px 15px;
  border: solid white;
  border-radius: 10px;
  border-width: 3px;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 22.4px;
}

footer {
  border-radius: 10px 10px 0 0;
  margin: 0px 25px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 5px;
  background-color: black;
  border: solid white;
  border-width: 4px 4px 0 4px;
}